---
permalink: /feed/feed.rss
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
<channel>
  <title>{{ metadata.site_title }}</title>
  {% set baseUrl = metadata.url | baseUrl %}
  <link>{{ "/" | absUrl(baseUrl) }}</link>
  <description>{{ metadata.description }}</description>

  {% for post in collections.posts %}
  <item>
    <title>{{ post.data.title }}</title>
    <link>{{ post.url | absUrl(baseUrl) }}</link>
    <pubDate>{{ post.date.toUTCString() }}</pubDate>
    <description>{{ post.data.description }}</description>
  </item>
  {% endfor %}
</channel>
</rss>
