---
permalink: /feed/twtxt.txt
---

# twtxt feed for {{ metadata.site_title }}

{% for post in collections.posts %}
{%- set baseUrl = metadata.url | baseUrl -%}
{{ post.date.toISOString() }}	{{ post.url | absUrl(baseUrl) }} — {{ post.data.title }}
{% endfor %}
