<!doctype html>
<html lang="en" prefix="zotero: http://www.zotero.org/namespaces/export#">
<head>
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#main-content" class="skip-link">Skip to main content</a>
<div id="sidebar-overlay"></div>
{% include "partials/sidebar.njk" %}
<main id="page-wrapper" class="h-entry">
<div class="container">
{% include "partials/header.njk" %}
<article id="main-content" class="standard-content mt-5 h-entry">
{{content|safe}}
</article>
<p class="h-card visually-hidden mb-0">
  <a class="p-name u-url" href="https://thewhitestonefoundation.org/">Whitestone Publications</a>
  <span class="p-org">The Whitestone Foundation</span>
</p>
{% include "partials/footer.njk" %}
</div>
</main>
{% include "partials/scripts.njk" %}
<script src="/js/script.js" defer></script>
<link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css">
</body>
</html>
