---
permalink: /credits.txt
eleventyExcludeFromCollections: true
layout: false
---

Credits

Images

- Homepage hero image: Getty Images, licensed under the Unsplash+ License.
- Unused Unsplash asset: photo by Mehdi Benkaci, /images/mehdi-benkaci-BQ2b3LmEogA-unsplash.webp.

Icons

Phosphor (https://phosphoricons.com/) is a passion project by Helena Zhang (https://helenazhang.com/) and Tobias Fried (https://tobiasfried.com/).
