<footer class="py-5 mt-5 border-top text-center">
<p class="small">
© {{ metadata.footer.year_start }}-{{ buildinfo.now | dateFilter("yyyy") }} {{ metadata.footer.text }}
</p>
<p class="small fw-bold border-top pt-3 d-inline-block text-uppercase" style="letter-spacing: 2px; color: var(--text-muted);">
<a href="{{ metadata.footer.url }}" style="color: var(--accent);">{{ metadata.footer.info }}</a>
<br/>
<span style="font-size: 0.8rem;">
{% for publication in metadata.footer.publications %}
<a style="color: var(--text-muted);" href="{{ publication.url }}" target="_blank" rel="noopener noreferrer">{{ publication.title }}</a>{% if not loop.last %} | {% endif %}
{% endfor %}
</span>
<br/>
<small>
{{ metadata.footer.built_with.label }} <a href="{{ metadata.footer.built_with.url }}" target="_blank" rel="noopener noreferrer">{{ eleventy.generator }}</a>
| <a href="{{ metadata.footer.rss.url }}" target="_blank" rel="noopener noreferrer"><i class="ph-bold ph-rss"></i> {{ metadata.footer.rss.label }}</a>
| managed by <a href="{{ metadata.footer.manager.url }}" target="_blank" rel="noopener noreferrer">{{ metadata.footer.manager.name }}</a>
</small>
</p>
</footer>
