<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title or metadata.title}}</title>
<meta content="{{title or metadata.title}}" property="og:title" />
<meta content="{{title or metadata.title}}" property="dc:title" />
<meta content="{{title or metadata.title}}" name="twitter:title" />
<meta content="{{title or metadata.title}}" name="title" />
<meta content="{{title or metadata.title}}" property="og:site_name" />
<meta content="{{description or metadata.description}}" name="description" />
<meta
	content="{{description or metadata.description}}"
	property="facebook:description"
/>
<meta
	content="{{description or metadata.description}}"
	property="og:description"
/>
<meta
	content="{{description or metadata.description}}"
	name="twitter:description"
/>
<meta property="twitter:card" content="summary_large_image" />
<meta content="{{image or metadata.image}}" name="twitter:image" />
<meta content="{{image or metadata.image}}" name="facebook:image" />
<meta content="{{image or metadata.image}}" name="og:image" />
<link rel="icon" type="image/png" href="/img/logos/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/img/logos/favicon.svg" />
<link rel="shortcut icon" href="/img/logos/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/logos/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ metadata.title }}" />
<link rel="manifest" href="/img/logos/site.webmanifest" />
<meta content="{{ metadata.metasocial.facebook }}" property="facebook:author" />
<meta
	content="{{ metadata.metasocial.twitteruser }}"
	property="twitter:author"
/>
<meta property="dc:creator" content="{{ metadata.title }}" />
{% set dcPublisher = metadata.author.name or metadata.author or metadata.title %}
{% set dcPublisher = metadata.publisher or "Whitestone Publications" %}
{% set dcDescription = description or metadata.description %}
{% set pageTags = tags or [] %}
{% set pageDate = date or page.date %}
{# Dublin Core base #}
<meta property="dc:publisher" content="{{ dcPublisher }}" />
<meta property="dc:language" content="en" />
<meta property="dc:format" content="text/html" />
<meta property="dc:rights" content="Copyright {{ dcPublisher }}. {{ metadata.url }}/copyright/" />
{# Dublin Core per-page #}
{% if pageDate %}<meta property="dc:date" content="{{ pageDate | isoDate }}" />{% endif %}
<meta property="dc:type" content="{{ 'article' if pageTags.length else 'text' }}" />
<meta property="dc:identifier" content="{{ page.url | absUrl(metadata.url | baseUrl) }}" />
{% if dcDescription %}<meta property="dc:description" content="{{ dcDescription }}" />{% endif %}
{% for tag in pageTags %}
  {% if tag != "posts" and tag != "pages" %}
<meta property="dc:subject" content="{{ tag }}" />
  {% endif %}
{% endfor %}
{% if metadata.metasocial.mastodon %}
<meta name="fediverse:creator" content="{{ metadata.metasocial.mastodon }}" />
{% endif %}
{% set standardSiteEnabled = metadata.standard_site and metadata.standard_site.enabled %}
{% set standardSitePublicationAtUri = metadata.standard_site.publication_at_uri if standardSiteEnabled else "" %}
{% set standardSiteDocumentAtUri = "" %}
{% if standardSiteEnabled and standardSiteRecords and page and page.url %}
  {% set standardSiteDocumentAtUri = standardSiteRecords[page.url] %}
{% endif %}
{% if standardSiteDocumentAtUri %}
<link rel="site.standard.document" href="{{ standardSiteDocumentAtUri }}" />
{% endif %}
{% if standardSitePublicationAtUri %}
<link rel="site.standard.publication" href="{{ standardSitePublicationAtUri }}" />
{% endif %}
{% if pageDate and page.url and page.url != "/" %}
<meta property="zotero:itemType" content="blogPost" />
<meta name="prism.genre" content="blogentry" />
<meta name="prism.publicationName" content="{{ metadata.title }}" />
<meta name="citation_author" content="{{ author or metadata.author.name or metadata.title }}" />
<meta name="citation_publication_date" content="{{ pageDate | isoDate }}" />
<meta name="citation_public_url" content="{{ page.url | absUrl(metadata.url | baseUrl) }}" />
<meta name="citation_language" content="{{ metadata.language or 'en' }}" />
{% endif %}
<meta content="{{ metadata.metasocial.twitter }}" name="twitter:site" />
<meta property="og:type" content="website" />
<meta content="index, follow" name="robots">
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}" />
<link rel="sitemap" type="application/xml" title="{{ metadata.title }} Sitemap" href="{{ metadata.url }}/sitemap.xml" />
<link
  rel="alternate"
  type="application/atom+xml"
  title="{{ metadata.title }}"
  href="{{ metadata.url }}/feed/feed.xml"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="{{ metadata.title }}"
  href="{{ metadata.url }}/feed/feed.rss"
/>
<link
  rel="alternate"
  type="application/feed+json"
  title="{{ metadata.title }}"
  href="{{ metadata.url }}/feed/feed.json"
/>
<link
  rel="alternate"
  type="text/plain"
  title="{{ metadata.title }}"
  href="{{ metadata.url }}/feed/twtxt.txt"
/>
<link
  rel="alternate"
  type="application/atom+xml"
  title="{{ metadata.title }} Firehose"
  href="{{ metadata.url }}/feed/firehose.xml"
/>
<meta name="language" content="{{ metadata.language }}" />
<meta name="locale" content="{{ metadata.locale }}" />
<meta property="og:locale" content="{{ metadata.locale }}" />
<meta name="generator" content="{{ eleventy.generator }}" />
<link href="/css/bs.css" rel="stylesheet"/>
<link href="/css/style.css" rel="stylesheet"/>
{% include "knowledge-graph.njk" %}
